<h1>New Article</h1>
<%= form_tag articles_create_path do %>
<li>
	<label for="Name">Name</label>
 	<%= text_field_tag "name" %>
 </li>
 <li>
 	<label for="Content">Content</label>
 	<%= text_field_tag "content"%>
 </li>
 <li>
 	<label for="Price">Price</label>
 	<%=text_field_tag "price" %>
 </li>
 <%=submit_tag("Create Article") %>
 <%end %>