<h1>Edit details</h1>

<%= start_form_tag :action => 'update', :id => @articles %>
<li>
	<label for="First Name">First Name</label>
 	<%= text_field_tag (:"first_name") %>
 </li>
 	<li><label for="last Name">Last Name</label>
 	<%= text_field_tag (:"last_name") %>
 </li>
 <li>
 	<label for="Phone num">Phone Num</label>
    <%= text_field_tag (:"phone_num") %>
 </li>
    <li><label for="Address">Address</label>
    <%= text_field_tag (:"address") %>
 </li>
 <div class="form-buttons">
 <%=submit_tag ("Update Details")%>  
 </div>  	 			    
<% end %>	
