<h2>Details</h2>
<a href="<%=details_index_path %>">Details list</a>

<table>
	<tr>
		<th>first name</th>
		<td><%=@details.first_name %></td>
	</tr>
	<tr>
		<th>last name</th>
		<td><%=@details.last_name %></td>
	</tr>
	<tr>
		<th>phone num</th>
		<td><%=@details.phone_num %></td>
	</tr>
	<tr>
		<th>Address</th>
		<td><%=@details.address %></td>
	</tr>
</table>